
/* I.
#countLabel{
    text-align: left;
    margin-left: 90px;
    display: block;
    font-size: 40px;
}
*/

/*A49.
/////////////5.

#myDiv {
    background-color: blue;
    width: 100px;
    height: 100px;
}

*/

/*A50.


#innerDiv{
    background-color: green;
    width: 100px;
    height: 100px;
    border: 1px solid;

}

#outerDiv{
    background-color: green;
    width: 200px;
    height: 200px;

}
*/